<footer class="footer">
    <section class="totalcount" style="text-align: center; color: #888; font-size: 0.85em; padding: 10px 0;">
        {{$scratch := newScratch}}
        {{ range .Site.RegularPages }}
            {{ $content := .Plain }}
            {{ $scratch.Add "total" (len $content) }}
        {{ end }}
        {{ $totalWords := $scratch.Get "total" }}
        {{ $tenThousands := div $totalWords 10000 }}
        {{ $remainingThousands := div (mod $totalWords 10000) 1000 }}

        发表了{{ len .Site.RegularPages }}篇文章 ·
        总计{{ $tenThousands }}万{{ $remainingThousands }}千字 ·
        已运行<span id="runningdays">计算中...</span>
    </section>
</footer>

<script>
 let s1 = '2026-3-10'; //website start date
 s1 = new Date(s1.replace(/-/g, "/"));
 let s2 = new Date();

 // Calculate the difference
 let years = s2.getFullYear() - s1.getFullYear();
 let months = s2.getMonth() - s1.getMonth();
 let days = s2.getDate() - s1.getDate();

 // Adjust months and years if necessary
 if (days < 0) {
   months -= 1;
   let prevMonth = new Date(s2.getFullYear(), s2.getMonth(), 0);
   days += prevMonth.getDate();
 }
 if (months < 0) {
   years -= 1;
   months += 12;
 }

 // Format the result
 let result = `${years}年${months}月${days}天`;
 document.getElementById('runningdays').innerHTML = result;
</script>
